@model WebApplication2.Models.LoginModel

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username" style="color:red"></span>
    </div>

    <br />

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Login</button>
</form>

@if (ViewBag.Message != null)
{
    <p style="color:red">@ViewBag.Message</p>
}
