@{
    ViewData["Title"] = "Student Display";
}

<h2>Entered Student Details</h2>
<hr />

<p><strong>Student Name:</strong> @ViewBag.StudentName</p>
<p><strong>Age:</strong> @ViewBag.Age</p>
<p><strong>Course:</strong> @ViewBag.Course</p>