@model WebApplication2.Models.Product

<h2>Product Details</h2>

Product Id : @Model.Pid
<br />
Product Name : @Model.Pname
<br />
Price : @Model.Price
<br />
Quantity : @Model.Qty
<br />

<br />

<a asp-action="Index">Back to List</a>