@using WebApplication2.Models
@model Product

<h1 class="display-5">Product Controller - Details</h1>

@if (Model == null)
{
    <p>Requested Product Details are not available</p>
}
else
{
    <div>
        Product Id : @Model.ProductId <br />
        Product Name : @Model.ProductName <br />
        Price : @Model.Price <br />
        Category : @Model.Category <br />
    </div>
}

<br />
<a asp-action="Index" class="btn btn-secondary">Back to List</a>