body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f6;
}

header {
    text-align: center;
    padding: 25px;
    background-color: #103981;
    color: white;
    letter-spacing: 1px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
}

.blog-card {
    background-color: white;
    padding: 25px;
    border: 1px solid #979191;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Blog Title */
.blog-card h2 {
    margin-top: 0;
    font-size: 21px;
    color: #b41037;
}

/* Blog Description */
.blog-card p {
    line-height: 1.7;
    margin: 12px 0 18px;
    color: #555;
}

.blog-card button {
    padding: 9px 16px;
    border: none;
    background-color: #0066cc;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.blog-card button:hover {
    background-color: #004c99;
}

/* Tablet View */
@media (max-width: 900px) {
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile View */
@media (max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}