@model WebApplication4.Models.Movie

<h2>Add Movie</h2>

<form asp-action="Create" method="post">

    <span asp-validation-summary="ModelOnly" class="text-danger"></span>

    Title:
    <input asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    Genre:
    <input asp-for="Genre" />
    <span asp-validation-for="Genre" class="text-danger"></span>
    <br />

    Release Date:
    <input asp-for="ReleaseDate" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    <br />

    Price:
    <input asp-for="Price" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />

    <<div>
        <label asp-for="Rating"></label>
        <select asp-for="Rating" class="form-control">
            <option value="">--Select--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <button type="submit">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}